{% extends 'base.html' %}
{% include 'paginator.html' %}

{% block title %}Items{% endblock %}

{% block content %}




<!-- explore page -->
{% load static %}


<div class="text-center bg-image" data-aos="zoom-in-up"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 400px; background-repeat: no-repeat; background-size:cover; margin-top:-100px; opacity:96% ;">

    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container">
            <div class="row align-items-center justify-content-center">

                <div class="col-md-12">
                    <h1 class="text-white font-weight-bold">Explore</h1>

                </div>

            </div>

        </div>
    </div>

</div>


<div class="container ">
    <!-- row -->
    <div class="row">
        <!-- shop -->
        <div class="col-md-4 col-xs-6">
            <div class="shop">
                <div class="shop-img">
                    <img src="{%static 'img/inst3.jpg'%}" alt="" height="210px">
                </div>
                <div class="shop-body">
                    <h3>Exciting<br>Packages</h3>
                    <a href="{% url 'explore:items' %}?item_type=2" class="cta-btn">Rent now <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /shop -->

        <!-- shop -->
        <div class="col-md-4 col-xs-6" data-aos="zoom-in-down">
            <div class="shop">
                <div class="shop-img">
                    <img src="{%static 'img/inst4.jpg'%}" alt="" height="210px">
                </div>
                <div class="shop-body">
                    <h3>Product<br>Collections</h3>
                    <a href="{% url 'explore:items' %}?item_type=1" class="cta-btn">Rent now <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /shop -->

        <!-- shop -->
        <div class="col-md-4 col-xs-6">
            <div class="shop">
                <div class="shop-img">
                    <img src="{%static 'img/inst3.jpg'%}" alt="" height="210px">
                </div>
                <div class="shop-body">
                    <h3>Amazing<br>Accessories</h3>
                    <a href="{% url 'explore:items' %}?item_type=3" class="cta-btn">Rent now <i
                            class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <!-- /shop -->
    </div>
    <!-- /row -->
</div>




<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle " type="button" id="categoryDropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Category
                </button>
                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                    <a class="dropdown-item" href="{% url 'explore:items' %}">All</a>
                    {% for category in categories %}
                    <a class="dropdown-item"
                        href="{% url 'explore:items' %}?query={{ query }}&category={{ category.id }}">
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-4">
            <form method="get" action="{% url 'explore:items' %}">
                <label class="sr-only" for="searchInput">Search</label>
                <div class="input-group mb-2">
                    <input type="search" class="form-control" id="searchInput" name="query" placeholder="Search"
                        value="{{ query }}">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="row">




        {% for item in page_obj %}
        <div class="col-lg-4 col-md-4 col-sm-6 my-3 " data-aos="zoom-in-up">
            <div class="card shadow mb-5 h-80 " style="width: Auto">
                <div id="instrument_{{item.id}}" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-indicators">
                        {% for image in item.image_set.all %}
                        <button type="button" data-bs-target="#instrument_{{ item.id }}"
                            data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" {% endif %}
                            aria-label="Slide {{ forloop.counter }}">
                        </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in item.image_set.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 200px;">
                            <img class="card-img-top" src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#instrument_{{ item.id }}"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#instrument_{{ item.id }}"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">


                    <div class="product-body justify-content-center">
                        <span class="badge badge-lg rounded-pill bg-danger text-black mb-2">{{item.get_item_type_display_name }}</span>
                        <p class="product-category">{{item.category}}</p>
                        <h3 class="product-name"><a href="{% url 'explore:details' item.id  %}">
                                {{ item.name}}</a></h3>
                        <h4 class="product-price">रु {{ item.price }} <del class="product-old-price">रु
                                {{item.price }}</del></h4>
                        


                        


                        <div class="product-btns justify-content-center" style="background-color: rgba(0, 0, 0, 0);  ">

                            <a class="add-to-wishlist" href="" style="margin-right: 15px;"><i
                                    class="fa fa-heart-o fa-lg"></i><span class="tooltipp">Save Item</span></a>

                            <a href="{% url 'explore:details' item.id  %}" class="quick-view"><i
                                    class="fa fa-eye fa-lg"></i><span class="tooltipp">
                                    view details</span></a>
                        </div>


                    </div>



                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'paginator.html' %}





{% endblock %}