{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1 class="text-center text-uppercase p-4">About Us</h1>
    <div class="row mt-3 py-2">
        <div class="col-lg-6">
            <img src="img/inst1.jpg" alt="" class="img-fluid mb-4 rounded-3 ">
        </div>
        <div class="col-lg-6 ">
            <h2>Hire Musical Instruments and Sound Accessories </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, aspernatur ea soluta, sint reiciendis
                vero veniam saepe officiis voluptate eveniet accusantium consequatur, pariatur dolor eum debitis. Unde
                sit et laudantium omnis autem, dolores excepturi distinctio quisquam hic necessitatibus sapiente libero
                maxime accusantium ipsam minima? Vero necessitatibus perferendis vel voluptates maxime eos consequuntur
                tenetur unde autem.
            </p>

        </div>
    </div>
    <div class="row mt-4 mb-4 py-2">
        <div class="col-lg-6">
            <h2>Enhance Your Skills with Engaging Training Videos</h2>
            <p>
                Our extensive collection of training videos is designed to help
                you enhance your skills and excel in your chosen field. Whether
                you're looking to improve your technical expertise or develop
                essentit skills, our videos provide valuable insights and
                practical knowledge.
            </p>

        </div>
        <div class="col-lg-6">
            <img src="img/about2.jpg" alt="" class="img-fluid mb-4 rounded-3 " />
        </div>
    </div>
</div>



{%endblock %}