{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-center bg-image"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">BLOG</a></li>

            </ol>
        </nav>
    </div>

</div>
<div class="container mt-0 mx-auto">
    <h2 class="text-center pb-4">
        Our blog
    </h2>
    <div class="row">
        {% for post in posts reversed %}
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card mb-5 shadow-sm">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" style="height: 196px;">

                <div class="card-body ">
                    <div class="card-title">
                        <h2>{{post.title|truncatewords:7}}</h2>
                    </div>
                    <div class="card-text">
                        <p>
                            {{post.body|truncatewords:20}}
                        </p>
                        
                    </div>
                    

                    
                </div>
                <div class="card-footer border ">
                    
                        <a href="#" class="btn btn-primary d-inline m-0">View More</a>
                        <p class="d-inline float-end m-1">
                            {{post.created_at}}
                        </p>
                        
                    
                    
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <img src="{{ post.image.url }}" alt="">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{post.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{post.body}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>

</div>

{%endblock %}