{% extends 'base.html' %}

{% block title %}Items{% endblock %}

{% block content %}




<!-- explore page -->
{% load static %}


{% if user.is_authenticated and user.role == 'lessor' %}
<a href="" class="btn btn-primary">Add item</a>

{% endif %}
<div class="text-center bg-image"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">Explore Us</a></li>

            </ol>
        </nav>
    </div>

</div>



<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3" style=" background-color: #f1f1f1;" id="demo">
            <div class="row">
                <div class="col-md mt-2">
                    <label class="sr-only" for="inlineFormInputGroup">Search</label>
                    <div class="input-group mb-2">
                        <input type="search" class="form-control" id="inlineFormInputGroup" placeholder="Search">
                        <!-- search query -->
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm mt-2">
                    <p class="font-semibold">Categories</p>
                    <ul>
                        <li class="py-2 px-2 rounded-xl bg-gray-200">
                            <a href="{% url 'explore:items' %}">All</a>
                        </li>
                        {% for category in categories %}
                        <li class="py-2 px-2 rounded-xl{% if category.id == category_id %} bg-gray-200{% endif %}">
                            <a
                                href="{% url 'explore:items' %}?query={{ query }}&category={{ category.id }}">{{category.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="container">
                <div class="row">
                    
                    {% for item in items%}
                    <div class="col-lg-4 col-md-4 col-sm-6 my-3 ">

                        <div class="card Boxshadow h-100" style="width: 18rem;">
                            <div id="instrument_{{item.name}}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#instrument_{{item.name}}"
                                        data-bs-slide-to="0" class="active" aria-current="true"
                                        aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#instrument_{{item.name}}"
                                        data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#instrument_{{item.name}}"
                                        data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active" style="height: 196px">

                                        <img class="card-img-top img-fluid" src="{{item.instrument_image1.url}}"
                                            alt="First slide">

                                    </div>
                                    <div class="carousel-item" style="height: 196px">
                                        <img class="card-img-top img-fluid" src="{{item.instrument_image2.url}}" alt="">

                                    </div>
                                    <div class="carousel-item" style="height: 196px">
                                        <img class="card-img-top img-fluid" src="{{item.instrument_image3.url}}" alt="">

                                    </div>


                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#instrument_{{item.name}}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#instrument_{{item.name}}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>

                            <div class="card-body ">
                                <h5 class="card-title ">{{ item.name }}</h5>
                                <hr>
                                <p class="card-text "><mark><em>Model:</em></mark>{{item.instrument_model}}</p>
                                <p class="card-text "><mark><em>Price (per day):</em></mark> ₹ {{ item.price }}</p>
                                <a href="{% url 'explore:details' item.id  %}" class="btn btn-primary">Veiw details</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>



    <div class="container mt-4 mx-auto">
        <div class="row justify-content-between">



        </div>

    </div>

    {% endblock %}