<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>

        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </section>


    <!-- Section: Links  -->
    <section class="d-flex justify-content-center">
        <div class="container text-center text-md-start mt-3"
            style="margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-left: 0px;margin-top: 0px;">
            <!-- Grid row -->
            <div class="row mt-2">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <ul class="link-follow">
                        <li class="li"><a class="single-link" href="my-account.html">Home</a></li>
                        <li class="li"><a class="single-link" href="contact.html">Explore</a></li>
                        <li class="li"><a class="single-link" href="cart.html">Events</a></li>
                        <li class="li"><a class="single-link" href="shop-left-sidebar.html">Blogs</a>
                        </li>
                        <li class="li"><a class="single-link" href="login.html">Account</a></li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <ul class="link-follow">
                        <li class="li"><a class="single-link" href="my-account.html">About Us</a></li>
                        <li class="li"><a class="single-link" href="contact.html">Contact</a></li>
                        <li class="li"><a class="single-link" href="cart.html">Services</a></li>
                        <li class="li"><a class="single-link" href="shop-left-sidebar.html">Terms and Conditions</a>
                        </li>
                        <li class="li"><a class="single-link" href="login.html">Account</a></li>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-2">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact Info
                    </h6>
                    <div class="contact">
                        <!-- News letter area -->
                        <p class="address">Address: Madhyapur Thimi-06,BKT.</p>
                        <p class="phone">Phone/Fax:<a href="tel:+977 9803510597"> 9803510597</a></p>
                        <p class="mail">Email:<a href="mailto:demo@example.com"> muserentalhub@gmail.com</a></p>
                        <p class="mail"><a href="https://demo@example.com/"> muserentalhub@gmail.com</a></p>
                        <!-- News letter area  End -->
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
            <div class="row">

                <div class="col p-3" style="background-color: rgba(3, 9, 17, 0.05);">
                    <p class="copy-text text-center"> ©
                        <script type="text/JavaScript">
                            document.write(new Date().getFullYear());</script>
                        <strong>MuseRental Hub</strong> Made By <a href="">
                            <strong> Me </strong></a>.
                    </p>
                </div>
            </div>
        </div>

    </section>




</footer>