{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MuseRental Hub</title>

    <!-- <link rel="icon" href="images/favicon.png" /> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toast.css/iziToast.min.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- BLOG HOVER -->
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.2/components/blogs/blog-4/assets/css/blog-4.css">
    <!--  -->


    <link rel="icon" type="image/x-icon" href="{% static 'img/Main/favicon.ico' %}">

    <script src="{% static 'js/toastjs/iziToast.min.js' %}"></script>

<!--      -->

</head>