
{% load static %}
<div class="text-center bg-image" data-aos="fade-down-left"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">Contact Us</a></li>

            </ol>
        </nav>
    </div>

</div>