/* Hero carousel */

.nav-item a {
  color: aliceblue;
}
.nav-item a:hover {
  color: aliceblue;
}

.mynav::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  transition: width 0.3s;
}

.mynav:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: aliceblue;
}

.carousel-item {
  height: 100vh;
  background-color: #2a2929;
  color: white;
  position: relative;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  animation: zoomin 10s linear infinite;
}
@keyframes zoomin {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.2);
  }
}
.logo {
  padding-right: 10px;
  padding-left: 25px;
}

.logo img {
  height: 32px;
  width: 32px;
  opacity: 5;
}

.dropdown-menu li a:hover {
  background-color: rgb(136, 124, 183);
}
/* ----------footer---------- */

.link-follow {
  padding: 0;
}
.link-follow li {
  list-style: none;
  display: block;
}

.link-follow a {
  color: #0e0e0e;
  font-size: 16px;
  align-items: center;
  height: 36px;
  display: flex;
  text-decoration: none;
}
.link-follow a:hover {
  transform: translateY(-2px);
  color: #726fde;
}
.contact a {
  text-decoration: none;
  color: #0e0e0e;
}
.contact a:hover {
  transform: translateY(-2px);
  color: #726fde;
}

/* ----------added preloader-------- */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

.preloader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border: 10px solid #0a0b0b;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

