{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center bg-image"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">Khalti-Payment</a></li>

            </ol>
        </nav>
    </div>
</div>
<div class="text-center mt-5">
    <p>You want to booked {{ booking.num_tickets }} tickets for the event {{ booking.event }}</p>
    <p>Total Price: {{ booking.total_price }}</p>
    <p>Click the button below to proceed with Khalti payment:</p>
    <button onclick="khaltiPayment()" class="btn btn-secondary" style="background-color: purple; color: white;">Pay with
        Khalti</button>

</div>


<script src="https://khalti.com/static/khalti-checkout.js"></script>

<!-- <script>
    var config = {
        // Replace the publicKey with yours
        "publicKey": "test_public_key_746358e838144ca094b43e94f5c2c860",
        "productIdentity": "Ticket-{{ booking.num_tickets }}",
        "productName": "{{ booking.event }}",
        "productUrl": "http://localhost:8000",
        "amount": "{{ booking.total_price }}", // Amount should be in paisa
        "eventHandler": {
            onSuccess(payload) {
                // Hit merchant API for initiating verification
                console.log(payload);
                Swal.fire('Transaction completed for ' + "{{ booking.num_tickets }}" + ' tickets  for the event' + "{{ booking.event }}");
            },
            onError(error) {
                console.log(error);
            },
            onClose() {
                console.log('Widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        checkout.show();
    }
</script> -->





{% endblock %}