{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load is_event_already_saved %}

<div class="text-center bg-image"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">Events</a></li>

            </ol>
        </nav>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <!-- carousel Image -->
        <div class=" col-sm-12 col-md-6 ">
            <img src="{{ event.image.url }}" class="rounded-xl image-fluid" style="height: Auto; width: 100%;">
        </div>

        <!-- Information -->
        
        <div class="col-md-6 col-sm-12" >
            <div class="card p-1" style="width: auto;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{event.name}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Location</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{event.Location}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Venue</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{event.venue}}
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Description</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{event.description}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <h6 class="mb-0">Price</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            ₹{{event.ticket_price}} (per hour)
                        </div>
                    </div>

                    <div class="border border-top-0 bg-white p-4">
                        <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                            <a href="{% url 'event:book-event' event.id  %}" class="btn btn-primary">Buy now</a>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                    <h2>Book Event: {{ event.title }}</h2>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Book Tickets</button>
                    </form>
                    {% else %}
                    <p>User is not authenticated</p>
                    

                    {% endif%}

                </div>
            </div>

        </div>
    </div>


    

<div class="col-6">
    {% if user.is_authenticated and user.role == 'customer' %}
    {% is_event_already_saved event request.user as is_saved %}
    {% if is_saved %}
    <span class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Already
        Saved
        Item</span>
    {% else %}
    <form action="{% url 'event:saved-event' event.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event" value="{{ event.id }}">
        <input type="submit" class="btn btn-block btn-light btn-md" value="Save" />
    </form>
    {% endif %}

    {% elif request.user.id == event.user.id and user.role == 'lessor' %}
    {% is_event_already_saved event request.user as is_saved %}
    {% if is_saved %}
    <span class="btn btn-block btn-light btn-md"><span class="icon-heart-o mr-2 text-danger"></span>Already
        Saved
        Item</span>
    {% else %}
    <form action="{% url 'event:saved-event' event.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event" value="{{ event.id }}">
        <input type="submit" class="btn btn-block btn-light btn-md" value="Save" />
    </form>
    {% endif %}

    {% elif user.role == none %}
    <form action="{% url 'event:saved-event' event.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="event" value="{{ event.id }}">
        <input type="submit" class="btn btn-block btn-light btn-md" value="Save" />
    </form>
    {% endif %}
</div>




</div>

{% endblock %}