{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center bg-image"
    style="
      background-image: url('{% static 'img/about/aboutus2.jpg' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px">

    <div class="d-flex justify-content-center align-items-center h-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="">About Us</a></li>

            </ol>
        </nav>
    </div>

</div>
    <h1 class="text-center text-uppercase">Events</h1>
    <div class="my-5 position-relative">
        <div class="container">
            <div class="row p-5 bg-dark ">
                <div class="col-md-4">
                    <img src="img/inst4.jpg" alt="" class="img-fluid rounded-2">
                </div>
                <div class="col-md-6 ms-5">
                    <h2 class="fw-bold text-white">Grand BeeAndBars Opening</h2>
                    <hr class="hr-heading text-white" />
                    <p class="text-white"> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nesciunt dicta quos deleniti, veniam qui hic quo facilis iusto? Veritatis culpa debitis, accusamus beatae quae nihil magni. Temporibus rem ex, odio enim veniam sit suscipit?
                    </p>

                    <div class="d-grid gap-3 d-md-flex">
                    
                        <button type="button" class="btn btn-outline-light">Explore Event</button>
                        <button type="button" class="btn btn-light ">Buy</button>
                    </div>
                    
                </div>
            </div>
            <div class="row p-5 mt-4 bg-dark ">
                <div class="col-md-4">
                    <img src="img/inst4.jpg" alt="" class="img-fluid rounded-2">
                </div>
                <div class="col-md-6 ms-5">
                    <h2 class="fw-bold text-white">Grand BeeAndBars Opening</h2>
                    <hr class="hr-heading text-white" />
                    <p class="text-white"> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nesciunt dicta quos deleniti, veniam qui hic quo facilis iusto? Veritatis culpa debitis, accusamus beatae quae nihil magni. Temporibus rem ex, odio enim veniam sit suscipit?
                    </p>
                    <div class="d-grid gap-3 d-md-flex">

                        <button type="button" class="btn btn-outline-light">Explore Event</button>
                        <button type="button" class="btn btn-light ">Buy</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    {%endblock %}